<template>
   <require from="../../converters/decimal-format.js"></require>
   <h6>${friendlyName} - ${formatMask}</h6>
   <select value.bind="scoring.compareOperator">
      <option value="<">less than</option>
      <option value="<=">less than or equal to</option>
      <option value="=">equal to</option>
      <option value=">=">greater than or equal to</option>
      <option value=">">greater than</option>
   </select>
   <input type="number" value.bind="scoring.lowerValue | decimalFormat: '0.0000'"/>
</template>